<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <clear/>
    <add name="SitcomsContext" connectionString="data source=(localdb)\MSSQLLocalDB; initial catalog=Sitcoms; integrated security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>